@model EpiPageImporter.Models.ViewModels.IPageViewModel<EpiPageImporter.Models.Pages.BasePageData>
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using EPiServer.Web.Mvc.Html

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            <div class="top-header">    
                <a class="start-page__link" href="@Url.ContentUrl(Model.Layout.StartPageLink)">Start</a>
         
                    <div class="search-container">
                        <input type="text" id="recipe-search" placeholder="Search recipes..." />
                        <ul id="recipe-results" class="autocomplete"></ul>
                    </div>
             
            </div>
            @Model.Layout.MainMenu
        </div>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <script src="~/js/site.js"></script>
</body>
</html>