@using EPiServer.Web.Mvc.Html
@using EpiPageImporter.Models.Pages
@model EpiPageImporter.Models.ViewModels.StartPageViewModel

<h2>
    @Model.CurrentPage.Heading
</h2>
@if (Model.CurrentPage.Intro != null)
{
    <div>
        @Html.PropertyFor(x => Model.CurrentPage.Intro)
    </div>
}